-- ============================================
-- ESQUEMA SIMPLIFICADO - Sistema Clínica
-- ============================================

-- Crear base de datos
IF NOT EXISTS (SELECT * FROM sys.databases WHERE name = 'ClinicaMariaInmaculada')
BEGIN
    CREATE DATABASE [ClinicaMariaInmaculada];
END
GO

USE [ClinicaMariaInmaculada];
GO

-- ============================================
-- TABLAS PRINCIPALES
-- ============================================

-- Tabla de Roles
CREATE TABLE [dbo].[Roles](
    [id] [int] IDENTITY(1,1) PRIMARY KEY,
    [Nombre] [varchar](100) NOT NULL UNIQUE,
    [Descripcion] [varchar](300) NULL,
    [Estado] [bit] NOT NULL DEFAULT 1
);

-- Tabla de Tipos de Trabajadores
CREATE TABLE [dbo].[Tipo_Trabajadores](
    [id] [int] IDENTITY(1,1) PRIMARY KEY,
    [Tipo] [varchar](100) NOT NULL
);

-- Tabla de Tipos de Gastos
CREATE TABLE [dbo].[Tipo_Gastos](
    [id] [int] IDENTITY(1,1) PRIMARY KEY,
    [Nombre] [varchar](150) NOT NULL
);

-- Tabla de Tipos de Análisis
CREATE TABLE [dbo].[Tipos_Analisis](
    [id] [int] IDENTITY(1,1) PRIMARY KEY,
    [Nombre] [varchar](200) NOT NULL,
    [Descripcion] [varchar](500) NULL,
    [Precio_Normal] [decimal](10,2) NOT NULL,
    [Precio_Emergencia] [decimal](10,2) NOT NULL
);

-- Tabla de Tipos de Procedimientos
CREATE TABLE [dbo].[Tipos_Procedimientos](
    [id] [int] IDENTITY(1,1) PRIMARY KEY,
    [Nombre] [varchar](200) NOT NULL,
    [Descripcion] [varchar](500) NULL,
    [Precio_Normal] [decimal](10,2) NOT NULL,
    [Precio_Emergencia] [decimal](10,2) NOT NULL
);

-- Tabla de Marcas
CREATE TABLE [dbo].[Marca](
    [id] [int] IDENTITY(1,1) PRIMARY KEY,
    [Nombre] [varchar](150) NOT NULL,
    [Detalles] [varchar](500) NULL
);

-- Tabla de Doctores
CREATE TABLE [dbo].[Doctores](
    [id] [int] IDENTITY(1,1) PRIMARY KEY,
    [Nombre] [varchar](100) NOT NULL,
    [Apellido_Paterno] [varchar](100) NOT NULL,
    [Apellido_Materno] [varchar](100) NOT NULL,
    [Especialidad] [varchar](150) NOT NULL,
    [Matricula] [varchar](50) NOT NULL UNIQUE,
    [Edad] [int] NOT NULL
);

-- Tabla de Especialidades
CREATE TABLE [dbo].[Especialidad](
    [id] [int] IDENTITY(1,1) PRIMARY KEY,
    [Nombre] [varchar](150) NOT NULL,
    [Detalles] [varchar](500) NULL,
    [Precio_Normal] [decimal](10,2) NOT NULL,
    [Precio_Emergencia] [decimal](10,2) NOT NULL,
    [Id_Doctor] [int] NOT NULL,
    FOREIGN KEY ([Id_Doctor]) REFERENCES [Doctores]([id])
);

-- Tabla de Pacientes
CREATE TABLE [dbo].[Pacientes](
    [id] [int] IDENTITY(1,1) PRIMARY KEY,
    [Nombre] [varchar](100) NOT NULL,
    [Apellido_Paterno] [varchar](100) NOT NULL,
    [Apellido_Materno] [varchar](100) NOT NULL,
    [Cedula] [varchar](20) NULL,
    [Fecha_Nacimiento] [date] NULL
);

-- Tabla de Usuarios
CREATE TABLE [dbo].[Usuario](
    [id] [int] IDENTITY(1,1) PRIMARY KEY,
    [Nombre] [varchar](100) NOT NULL,
    [Apellido_Paterno] [varchar](100) NOT NULL,
    [Apellido_Materno] [varchar](100) NOT NULL,
    [contrasena] [varchar](255) NOT NULL,
    [Id_Rol] [int] NOT NULL,
    [Estado] [bit] DEFAULT 1,
    [nombre_usuario] [varchar](50) NOT NULL UNIQUE,
    FOREIGN KEY ([Id_Rol]) REFERENCES [Roles]([id])
);

-- ============================================
-- TABLAS SECUNDARIAS (simplificadas)
-- ============================================

-- Tabla de Trabajadores
CREATE TABLE [dbo].[Trabajadores](
    [id] [int] IDENTITY(1,1) PRIMARY KEY,
    [Nombre] [varchar](100) NOT NULL,
    [Apellido_Paterno] [varchar](100) NOT NULL,
    [Apellido_Materno] [varchar](100) NOT NULL,
    [Id_Tipo_Trabajador] [int] NOT NULL,
    FOREIGN KEY ([Id_Tipo_Trabajador]) REFERENCES [Tipo_Trabajadores]([id])
);

-- Tabla de Consultas
CREATE TABLE [dbo].[Consultas](
    [id] [int] IDENTITY(1,1) PRIMARY KEY,
    [Id_Usuario] [int] NOT NULL,
    [Id_Paciente] [int] NOT NULL,
    [Id_Especialidad] [int] NOT NULL,
    [Fecha] [datetime] NOT NULL DEFAULT GETDATE(),
    [Detalles] [text] NOT NULL,
    FOREIGN KEY ([Id_Usuario]) REFERENCES [Usuario]([id]),
    FOREIGN KEY ([Id_Paciente]) REFERENCES [Pacientes]([id]),
    FOREIGN KEY ([Id_Especialidad]) REFERENCES [Especialidad]([id])
);

-- Tabla de Enfermería
CREATE TABLE [dbo].[Enfermeria](
    [id] [int] IDENTITY(1,1) PRIMARY KEY,
    [Id_Paciente] [int] NOT NULL,
    [Id_Procedimiento] [int] NOT NULL,
    [Cantidad] [int] NOT NULL DEFAULT 1,
    [Fecha] [datetime] NOT NULL DEFAULT GETDATE(),
    [Id_RegistradoPor] [int] NOT NULL,
    FOREIGN KEY ([Id_Paciente]) REFERENCES [Pacientes]([id]),
    FOREIGN KEY ([Id_Procedimiento]) REFERENCES [Tipos_Procedimientos]([id]),
    FOREIGN KEY ([Id_RegistradoPor]) REFERENCES [Usuario]([id])
);

-- Tabla de Laboratorio
CREATE TABLE [dbo].[Laboratorio](
    [id] [int] IDENTITY(1,1) PRIMARY KEY,
    [Id_Paciente] [int] NOT NULL,
    [Id_Tipo_Analisis] [int] NULL,
    [Fecha] [datetime] NOT NULL DEFAULT GETDATE(),
    [Id_RegistradoPor] [int] NOT NULL DEFAULT 1,
    FOREIGN KEY ([Id_Paciente]) REFERENCES [Pacientes]([id]),
    FOREIGN KEY ([Id_Tipo_Analisis]) REFERENCES [Tipos_Analisis]([id]),
    FOREIGN KEY ([Id_RegistradoPor]) REFERENCES [Usuario]([id])
);

-- ============================================
-- TABLAS DE INVENTARIO (simplificadas)
-- ============================================

-- Tabla de Productos
CREATE TABLE [dbo].[Productos](
    [id] [int] IDENTITY(1,1) PRIMARY KEY,
    [Nombre] [varchar](200) NOT NULL,
    [Precio_venta] [decimal](10,2) NOT NULL,
    [Stock_Unitario] [int] NOT NULL,
    [ID_Marca] [int] NOT NULL,
    FOREIGN KEY ([ID_Marca]) REFERENCES [Marca]([id])
);

-- Tabla de Ventas
CREATE TABLE [dbo].[Ventas](
    [id] [int] IDENTITY(1,1) PRIMARY KEY,
    [Id_Usuario] [int] NOT NULL,
    [Fecha] [datetime] NOT NULL DEFAULT GETDATE(),
    [Total] [decimal](12,2) NOT NULL,
    FOREIGN KEY ([Id_Usuario]) REFERENCES [Usuario]([id])
);

-- ============================================
-- ÍNDICES BÁSICOS PARA MEJORAR RENDIMIENTO
-- ============================================

CREATE INDEX [IX_Pacientes_Cedula] ON [dbo].[Pacientes]([Cedula]);
CREATE INDEX [IX_Consultas_Fecha] ON [dbo].[Consultas]([Fecha]);
CREATE INDEX [IX_Enfermeria_Fecha] ON [dbo].[Enfermeria]([Fecha]);
CREATE INDEX [IX_Laboratorio_Fecha] ON [dbo].[Laboratorio]([Fecha]);

PRINT 'Esquema simplificado creado exitosamente';
GO