USE [master]
GO
/****** Object:  Database [ClinicaMariaInmaculada]    Script Date: 20/12/2025 20:27:07 ******/
CREATE DATABASE [ClinicaMariaInmaculada]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ClinicaMariaInmaculada', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ClinicaMariaInmaculada.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ClinicaMariaInmaculada_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\ClinicaMariaInmaculada_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ClinicaMariaInmaculada].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ClinicaMariaInmaculada]
GO
/****** Object:  User [ADMIN]    Script Date: 20/12/2025 20:27:07 ******/
CREATE USER [ADMIN] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ADMIN]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ADMIN]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ADMIN]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcularEdad]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcularEdad](@fecha_nacimiento DATE)
RETURNS INT
AS
BEGIN
    DECLARE @edad INT;
    SET @edad = DATEDIFF(YEAR, @fecha_nacimiento, GETDATE());
    
    -- Ajustar si no ha cumplido años este año
    IF (DATEADD(YEAR, @edad, @fecha_nacimiento) > GETDATE())
        SET @edad = @edad - 1;
    
    RETURN @edad;
END

GO
/****** Object:  UserDefinedFunction [dbo].[fn_Obtener_Costo_Promedio]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Función 2: Obtener costo promedio por producto
CREATE   FUNCTION [dbo].[fn_Obtener_Costo_Promedio]
(
    @Id_Producto INT
)
RETURNS DECIMAL(10,2)
AS
BEGIN
    DECLARE @CostoPromedio DECIMAL(10,2);
    
    SELECT @CostoPromedio = AVG(Precio_Compra)
    FROM [dbo].[Lote]
    WHERE Id_Producto = @Id_Producto
      AND Estado = 'ACTIVO'
      AND Stock_Actual > 0;
    
    RETURN ISNULL(@CostoPromedio, 0);
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Obtener_Stock_Producto]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Función 1: Obtener stock disponible por producto
CREATE   FUNCTION [dbo].[fn_Obtener_Stock_Producto]
(
    @Id_Producto INT
)
RETURNS INT
AS
BEGIN
    DECLARE @Stock INT;
    
    SELECT @Stock = SUM(Stock_Actual)
    FROM [dbo].[Lote]
    WHERE Id_Producto = @Id_Producto
      AND Estado = 'ACTIVO'
      AND (Fecha_Vencimiento IS NULL OR Fecha_Vencimiento > GETDATE());
    
    RETURN ISNULL(@Stock, 0);
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_Producto_Proximo_Vencer]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Función 3: Verificar si un producto está próximo a vencer
CREATE   FUNCTION [dbo].[fn_Producto_Proximo_Vencer]
(
    @Id_Producto INT,
    @Dias_Anticipacion INT = 30
)
RETURNS BIT
AS
BEGIN
    DECLARE @Resultado BIT = 0;
    
    IF EXISTS (
        SELECT 1
        FROM [dbo].[Lote]
        WHERE Id_Producto = @Id_Producto
          AND Estado = 'ACTIVO'
          AND Stock_Actual > 0
          AND Fecha_Vencimiento IS NOT NULL
          AND Fecha_Vencimiento < DATEADD(DAY, @Dias_Anticipacion, GETDATE())
    )
    BEGIN
        SET @Resultado = 1;
    END
    
    RETURN @Resultado;
END
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marca](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Detalles] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Detalles] [varchar](500) NULL,
	[Precio_compra] [decimal](10, 2) NOT NULL,
	[Precio_venta] [decimal](10, 2) NOT NULL,
	[Stock_Unitario] [int] NOT NULL,
	[Unidad_Medida] [varchar](50) NOT NULL,
	[ID_Marca] [int] NOT NULL,
	[Stock_Minimo] [int] NOT NULL,
	[Stock_Maximo] [int] NULL,
	[Activo] [bit] NOT NULL,
	[Fecha_Ultima_Compra] [date] NULL,
	[Fecha_Ultima_Venta] [date] NULL,
	[Costo_Promedio] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lote]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lote](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Producto] [int] NOT NULL,
	[Cantidad_Unitario] [int] NOT NULL,
	[Fecha_Vencimiento] [date] NULL,
	[Id_Compra] [int] NULL,
	[Fecha_Compra] [date] NULL,
	[Precio_Compra] [decimal](10, 2) NULL,
	[Stock_Actual] [int] NOT NULL,
	[Estado] [varchar](20) NOT NULL,
	[Fecha_Creacion] [datetime] NOT NULL,
	[Fecha_Modificacion] [datetime] NULL,
	[Usuario_Creacion] [int] NULL,
	[Usuario_Modificacion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Stock_Actual]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_Stock_Actual]
AS
SELECT 
    p.id,
    p.Codigo,
    p.Nombre,
    m.Nombre as Marca,
    p.Unidad_Medida,
    p.Precio_compra,
    p.Precio_venta,
    p.Costo_Promedio,
    p.Stock_Unitario as Stock_Sistema,
    ISNULL(SUM(l.Stock_Actual), 0) as Stock_Real,
    p.Stock_Minimo,
    p.Stock_Maximo,
    CASE 
        WHEN ISNULL(SUM(l.Stock_Actual), 0) <= p.Stock_Minimo THEN 'CRÍTICO'
        WHEN ISNULL(SUM(l.Stock_Actual), 0) <= p.Stock_Minimo * 2 THEN 'BAJO'
        ELSE 'NORMAL'
    END as Estado_Stock,
    MIN(l.Fecha_Vencimiento) as Proximo_Vencimiento,
    COUNT(DISTINCT l.id) as Cantidad_Lotes,
    COUNT(CASE WHEN l.Fecha_Vencimiento < DATEADD(DAY, 30, GETDATE()) THEN 1 END) as Lotes_Proximos_Vencer,
    p.Fecha_Ultima_Compra,
    p.Fecha_Ultima_Venta,
    p.Activo
FROM [dbo].[Productos] p
LEFT JOIN [dbo].[Marca] m ON p.ID_Marca = m.id
LEFT JOIN [dbo].[Lote] l ON p.id = l.Id_Producto 
    AND l.Estado = 'ACTIVO' 
    AND (l.Fecha_Vencimiento IS NULL OR l.Fecha_Vencimiento > GETDATE())
GROUP BY 
    p.id, p.Codigo, p.Nombre, m.Nombre, p.Unidad_Medida, 
    p.Precio_compra, p.Precio_venta, p.Costo_Promedio, 
    p.Stock_Unitario, p.Stock_Minimo, p.Stock_Maximo,
    p.Fecha_Ultima_Compra, p.Fecha_Ultima_Venta, p.Activo
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido_Paterno] [varchar](100) NOT NULL,
	[Apellido_Materno] [varchar](100) NOT NULL,
	[contrasena] [varchar](255) NOT NULL,
	[Id_Rol] [int] NOT NULL,
	[Estado] [bit] NULL,
	[nombre_usuario] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UK_Usuario_NombreUsuario] UNIQUE NONCLUSTERED 
(
	[nombre_usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Direccion] [varchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Compra]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Proveedor] [int] NOT NULL,
	[Id_Usuario] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Total] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Lotes_Activos]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_Lotes_Activos]
AS
SELECT 
    l.id,
    l.Id_Producto,
    p.Codigo,
    p.Nombre as Producto,
    m.Nombre as Marca,
    l.Cantidad_Unitario as Cantidad_Inicial,
    l.Stock_Actual,
    l.Precio_Compra,
    l.Fecha_Compra,
    l.Fecha_Vencimiento,
    DATEDIFF(DAY, GETDATE(), l.Fecha_Vencimiento) as Dias_para_Vencer,
    CASE 
        WHEN l.Fecha_Vencimiento < GETDATE() THEN 'VENCIDO'
        WHEN l.Fecha_Vencimiento < DATEADD(DAY, 30, GETDATE()) THEN 'PRÓXIMO A VENCER'
        ELSE 'VIGENTE'
    END as Estado_Vencimiento,
    l.Estado as Estado_Lote,
    c.id as Id_Compra,
    c.Fecha as Fecha_Compra_Documento,
    prov.Nombre as Proveedor,
    l.Fecha_Creacion,
    l.Usuario_Creacion,
    u.Nombre + ' ' + u.Apellido_Paterno as Creado_Por
FROM [dbo].[Lote] l
INNER JOIN [dbo].[Productos] p ON l.Id_Producto = p.id
INNER JOIN [dbo].[Marca] m ON p.ID_Marca = m.id
LEFT JOIN [dbo].[Compra] c ON l.Id_Compra = c.id
LEFT JOIN [dbo].[Proveedor] prov ON c.Id_Proveedor = prov.id
LEFT JOIN [dbo].[Usuario] u ON l.Usuario_Creacion = u.id
WHERE l.Estado = 'ACTIVO'
GO
/****** Object:  View [dbo].[vw_Costo_Inventario]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_Costo_Inventario]
AS
SELECT 
    p.id,
    p.Codigo,
    p.Nombre,
    p.Unidad_Medida,
    COUNT(DISTINCT l.id) as Lotes_Activos,
    SUM(l.Stock_Actual) as Stock_Total,
    AVG(l.Precio_Compra) as Costo_Promedio_Real,
    SUM(l.Stock_Actual * l.Precio_Compra) as Valor_Inventario_Costo,
    SUM(l.Stock_Actual * p.Precio_venta) as Valor_Inventario_Venta,
    SUM(l.Stock_Actual * p.Precio_venta) - SUM(l.Stock_Actual * l.Precio_Compra) as Ganancia_Potencial
FROM [dbo].[Productos] p
INNER JOIN [dbo].[Lote] l ON p.id = l.Id_Producto 
    AND l.Estado = 'ACTIVO' 
    AND l.Stock_Actual > 0
GROUP BY p.id, p.Codigo, p.Nombre, p.Unidad_Medida
GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido_Paterno] [varchar](100) NOT NULL,
	[Apellido_Materno] [varchar](100) NOT NULL,
	[Cedula] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Pacientes_ConEdad]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Pacientes_ConEdad] AS
SELECT 
    id,
    Nombre,
    Apellido_Paterno,
    Apellido_Materno,
    Cedula,
    Fecha_Nacimiento,
    dbo.fn_CalcularEdad(Fecha_Nacimiento) AS Edad
FROM Pacientes;

GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Usuario] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Total] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallesVentas]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesVentas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Venta] [int] NOT NULL,
	[Id_Lote] [int] NOT NULL,
	[Cantidad_Unitario] [int] NOT NULL,
	[Precio_Unitario] [decimal](10, 2) NOT NULL,
	[Detalles] [text] NULL,
	[Costo_Unitario] [decimal](10, 2) NULL,
	[Margen] [decimal](10, 2) NULL,
	[Porcentaje_Margen] [decimal](5, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Rotacion_Inventario]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_Rotacion_Inventario]
AS
SELECT 
    p.id,
    p.Codigo,
    p.Nombre,
    p.Unidad_Medida,
    -- Ventas últimos 30 días
    ISNULL((
        SELECT SUM(dv.Cantidad_Unitario)
        FROM [dbo].[DetallesVentas] dv
        INNER JOIN [dbo].[Lote] l ON dv.Id_Lote = l.id
        INNER JOIN [dbo].[Ventas] v ON dv.Id_Venta = v.id
        WHERE l.Id_Producto = p.id
          AND v.Fecha >= DATEADD(MONTH, -1, GETDATE())
    ), 0) as Unidades_Vendidas_30_Dias,
    
    -- Stock promedio (simplificado)
    AVG(l.Stock_Actual) as Stock_Promedio,
    
    -- Índice de rotación
    CASE 
        WHEN AVG(l.Stock_Actual) > 0 
        THEN CAST((
            SELECT SUM(dv.Cantidad_Unitario)
            FROM [dbo].[DetallesVentas] dv
            INNER JOIN [dbo].[Lote] l2 ON dv.Id_Lote = l2.id
            INNER JOIN [dbo].[Ventas] v ON dv.Id_Venta = v.id
            WHERE l2.Id_Producto = p.id
              AND v.Fecha >= DATEADD(MONTH, -1, GETDATE())
        ) AS FLOAT) / NULLIF(AVG(l.Stock_Actual), 0)
        ELSE 0 
    END as Indice_Rotacion,
    
    -- Días de inventario
    CASE 
        WHEN (
            SELECT SUM(dv.Cantidad_Unitario)
            FROM [dbo].[DetallesVentas] dv
            INNER JOIN [dbo].[Lote] l2 ON dv.Id_Lote = l2.id
            INNER JOIN [dbo].[Ventas] v ON dv.Id_Venta = v.id
            WHERE l2.Id_Producto = p.id
              AND v.Fecha >= DATEADD(MONTH, -1, GETDATE())
        ) > 0
        THEN CAST(AVG(l.Stock_Actual) AS FLOAT) / NULLIF((
            SELECT SUM(dv.Cantidad_Unitario) / 30.0
            FROM [dbo].[DetallesVentas] dv
            INNER JOIN [dbo].[Lote] l2 ON dv.Id_Lote = l2.id
            INNER JOIN [dbo].[Ventas] v ON dv.Id_Venta = v.id
            WHERE l2.Id_Producto = p.id
              AND v.Fecha >= DATEADD(MONTH, -1, GETDATE())
        ), 0)
        ELSE 999
    END as Dias_Inventario
    
FROM [dbo].[Productos] p
LEFT JOIN [dbo].[Lote] l ON p.id = l.Id_Producto 
    AND l.Estado = 'ACTIVO'
GROUP BY p.id, p.Codigo, p.Nombre, p.Unidad_Medida
GO
/****** Object:  View [dbo].[vw_Alertas_Inventario]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_Alertas_Inventario]
AS
SELECT 
    'STOCK BAJO' as Tipo_Alerta,
    p.id,
    p.Codigo,
    p.Nombre,
    p.Stock_Minimo,
    sa.Stock_Real,
    CONCAT('Stock actual: ', sa.Stock_Real, ', Mínimo: ', p.Stock_Minimo) as Detalle
FROM [dbo].[Productos] p
INNER JOIN [dbo].[vw_Stock_Actual] sa ON p.id = sa.id
WHERE sa.Stock_Real <= p.Stock_Minimo
  AND p.Activo = 1

UNION ALL

SELECT 
    'PRODUCTO PRÓXIMO A VENCER' as Tipo_Alerta,
    p.id,
    p.Codigo,
    p.Nombre,
    NULL as Stock_Minimo,
    la.Stock_Actual as Stock_Real,
    CONCAT('Lote #', la.id, ' vence el ', FORMAT(la.Fecha_Vencimiento, 'dd/MM/yyyy')) as Detalle
FROM [dbo].[vw_Lotes_Activos] la
INNER JOIN [dbo].[Productos] p ON la.Id_Producto = p.id
WHERE la.Estado_Vencimiento = 'PRÓXIMO A VENCER'
  AND p.Activo = 1

UNION ALL

SELECT 
    'PRODUCTO VENCIDO' as Tipo_Alerta,
    p.id,
    p.Codigo,
    p.Nombre,
    NULL as Stock_Minimo,
    la.Stock_Actual as Stock_Real,
    CONCAT('Lote #', la.id, ' vencido el ', FORMAT(la.Fecha_Vencimiento, 'dd/MM/yyyy')) as Detalle
FROM [dbo].[vw_Lotes_Activos] la
INNER JOIN [dbo].[Productos] p ON la.Id_Producto = p.id
WHERE la.Estado_Vencimiento = 'VENCIDO'
  AND p.Activo = 1
GO
/****** Object:  Table [dbo].[Tipo_Gastos]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Gastos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[descripcion] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Egresos]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Egresos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Tipo_Gasto] [int] NOT NULL,
	[Monto] [decimal](10, 2) NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Id_Usuario] [int] NOT NULL,
	[Comprobante] [varchar](100) NULL,
	[Proveedor] [varchar](200) NULL,
	[Metodo_Pago] [varchar](50) NULL,
	[Observaciones] [text] NULL,
	[Estado] [bit] NOT NULL,
	[Fecha_Anulacion] [datetime] NULL,
	[Motivo_Anulacion] [varchar](500) NULL,
	[Usuario_Anulacion] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Egresos_Completo]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_Egresos_Completo] AS
SELECT 
    e.id,
    e.Monto,
    e.Descripcion,
    e.Fecha,
    e.Comprobante,
    e.Proveedor,
    e.Metodo_Pago,
    e.Observaciones,
    e.Estado,
    
    -- Información del tipo de gasto
    tg.Nombre as Tipo_Gasto_Nombre,
    e.Id_Tipo_Gasto,
    
    -- Información del usuario que registró
    u.Nombre + ' ' + u.Apellido_Paterno + ' ' + ISNULL(u.Apellido_Materno, '') as Usuario_Registro,
    u.nombre_usuario as Usuario_Registro_Login,
    e.Id_Usuario,
    
    -- Información de anulación (si aplica)
    e.Fecha_Anulacion,
    e.Motivo_Anulacion,
    CASE 
        WHEN e.Usuario_Anulacion IS NOT NULL 
        THEN ua.Nombre + ' ' + ua.Apellido_Paterno + ' ' + ISNULL(ua.Apellido_Materno, '')
        ELSE NULL
    END as Usuario_Anulacion_Nombre
    
FROM Egresos e
INNER JOIN Tipo_Gastos tg ON e.Id_Tipo_Gasto = tg.id
INNER JOIN Usuario u ON e.Id_Usuario = u.id
LEFT JOIN Usuario ua ON e.Usuario_Anulacion = ua.id;
GO
/****** Object:  View [dbo].[vw_Egresos_Resumen_Por_Tipo]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_Egresos_Resumen_Por_Tipo] AS
SELECT 
    tg.id as Id_Tipo_Gasto,
    tg.Nombre as Tipo_Gasto,
    COUNT(e.id) as Cantidad_Egresos,
    SUM(e.Monto) as Total_Monto,
    AVG(e.Monto) as Promedio_Monto,
    MAX(e.Monto) as Monto_Maximo,
    MIN(e.Monto) as Monto_Minimo,
    MAX(e.Fecha) as Ultimo_Egreso
FROM Tipo_Gastos tg
LEFT JOIN Egresos e ON tg.id = e.Id_Tipo_Gasto AND e.Estado = 1
GROUP BY tg.id, tg.Nombre;
GO
/****** Object:  Table [dbo].[CierreCaja]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CierreCaja](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Fecha] [date] NOT NULL,
	[HoraInicio] [time](7) NOT NULL,
	[HoraFin] [time](7) NOT NULL,
	[EfectivoReal] [decimal](10, 2) NOT NULL,
	[SaldoTeorico] [decimal](10, 2) NOT NULL,
	[Diferencia] [decimal](10, 2) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[FechaCierre] [datetime] NULL,
	[Observaciones] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_CierresCaja_FechaHora] UNIQUE NONCLUSTERED 
(
	[Fecha] ASC,
	[HoraInicio] ASC,
	[HoraFin] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultas]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Usuario] [int] NOT NULL,
	[Id_Paciente] [int] NOT NULL,
	[Id_Especialidad] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Detalles] [text] NOT NULL,
	[Tipo_Consulta] [varchar](20) NULL,
	[Id_Trabajador] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompra]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompra](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Compra] [int] NOT NULL,
	[Id_Lote] [int] NOT NULL,
	[Cantidad_Unitario] [int] NOT NULL,
	[Precio_Unitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enfermeria]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enfermeria](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Paciente] [int] NOT NULL,
	[Id_Procedimiento] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Id_RegistradoPor] [int] NOT NULL,
	[Id_Trabajador] [int] NULL,
	[Tipo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidad]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Detalles] [varchar](500) NULL,
	[Precio_Normal] [decimal](10, 2) NOT NULL,
	[Precio_Emergencia] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gastos]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gastos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ID_Tipo] [int] NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
	[Monto] [decimal](12, 2) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Id_RegistradoPor] [int] NOT NULL,
	[ID_Proveedor] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[IngresosExtras]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[IngresosExtras](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[descripcion] [varchar](500) NOT NULL,
	[monto] [decimal](10, 2) NOT NULL,
	[fecha] [datetime] NULL,
	[id_registradoPor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Laboratorio]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laboratorio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Paciente] [int] NOT NULL,
	[Id_Trabajador] [int] NULL,
	[Id_Tipo_Analisis] [int] NULL,
	[Fecha] [datetime] NOT NULL,
	[Id_RegistradoPor] [int] NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[Detalles] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor_Gastos]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor_Gastos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [nvarchar](200) NOT NULL,
	[Frecuencia_Uso] [int] NULL,
	[Estado] [bit] NULL,
	[Fecha_Creacion] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sesiones_Usuario]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sesiones_Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Usuario] [int] NOT NULL,
	[token] [nvarchar](255) NOT NULL,
	[Fecha_Creacion] [datetime2](7) NOT NULL,
	[Fecha_Ultimo_Acceso] [datetime2](7) NOT NULL,
	[Fecha_Expiracion] [datetime2](7) NOT NULL,
	[Activa] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[token] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Trabajadores]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Trabajadores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [varchar](100) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
	[area_funcional] [varchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipos_Analisis]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos_Analisis](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[Precio_Normal] [decimal](10, 2) NOT NULL,
	[Precio_Emergencia] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipos_Procedimientos]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos_Procedimientos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[Precio_Normal] [decimal](10, 2) NOT NULL,
	[Precio_Emergencia] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trabajador_Especialidad]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trabajador_Especialidad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Trabajador] [int] NOT NULL,
	[Id_Especialidad] [int] NOT NULL,
	[Fecha_Asignacion] [datetime] NOT NULL,
	[Es_Principal] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UC_Trabajador_Especialidad] UNIQUE NONCLUSTERED 
(
	[Id_Trabajador] ASC,
	[Id_Especialidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trabajadores]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trabajadores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido_Paterno] [varchar](100) NOT NULL,
	[Apellido_Materno] [varchar](100) NOT NULL,
	[Id_Tipo_Trabajador] [int] NOT NULL,
	[Matricula] [varchar](50) NULL,
	[Especialidad] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IDX_Consultas_Trabajador]    Script Date: 20/12/2025 20:27:08 ******/
CREATE NONCLUSTERED INDEX [IDX_Consultas_Trabajador] ON [dbo].[Consultas]
(
	[Id_Trabajador] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DetallesVentas_Producto]    Script Date: 20/12/2025 20:27:08 ******/
CREATE NONCLUSTERED INDEX [IX_DetallesVentas_Producto] ON [dbo].[DetallesVentas]
(
	[Id_Lote] ASC
)
INCLUDE([Id_Venta],[Cantidad_Unitario],[Precio_Unitario],[Costo_Unitario]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Egresos_Comprobante]    Script Date: 20/12/2025 20:27:08 ******/
CREATE NONCLUSTERED INDEX [IX_Egresos_Comprobante] ON [dbo].[Egresos]
(
	[Comprobante] ASC
)
WHERE ([Comprobante] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Egresos_Fecha_Estado]    Script Date: 20/12/2025 20:27:08 ******/
CREATE NONCLUSTERED INDEX [IX_Egresos_Fecha_Estado] ON [dbo].[Egresos]
(
	[Fecha] ASC,
	[Estado] ASC
)
INCLUDE([Id_Tipo_Gasto],[Monto],[Id_Usuario]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Egresos_TipoGasto_Fecha]    Script Date: 20/12/2025 20:27:08 ******/
CREATE NONCLUSTERED INDEX [IX_Egresos_TipoGasto_Fecha] ON [dbo].[Egresos]
(
	[Id_Tipo_Gasto] ASC,
	[Fecha] ASC
)
INCLUDE([Monto],[Estado]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Egresos_Usuario_Fecha]    Script Date: 20/12/2025 20:27:08 ******/
CREATE NONCLUSTERED INDEX [IX_Egresos_Usuario_Fecha] ON [dbo].[Egresos]
(
	[Id_Usuario] ASC,
	[Fecha] ASC
)
INCLUDE([Id_Tipo_Gasto],[Monto],[Estado]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Gastos_IDProveedor]    Script Date: 20/12/2025 20:27:08 ******/
CREATE NONCLUSTERED INDEX [IX_Gastos_IDProveedor] ON [dbo].[Gastos]
(
	[ID_Proveedor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lote_FIFO]    Script Date: 20/12/2025 20:27:08 ******/
CREATE NONCLUSTERED INDEX [IX_Lote_FIFO] ON [dbo].[Lote]
(
	[Id_Producto] ASC,
	[Fecha_Vencimiento] ASC,
	[Fecha_Compra] ASC
)
INCLUDE([Stock_Actual],[Estado],[Precio_Compra]) 
WHERE ([Estado]='ACTIVO' AND [Stock_Actual]>(0))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Lote_Vencimientos]    Script Date: 20/12/2025 20:27:08 ******/
CREATE NONCLUSTERED INDEX [IX_Lote_Vencimientos] ON [dbo].[Lote]
(
	[Fecha_Vencimiento] ASC
)
INCLUDE([Id_Producto],[Stock_Actual],[Estado]) 
WHERE ([Estado]='ACTIVO' AND [Stock_Actual]>(0) AND [Fecha_Vencimiento] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Pacientes_Cedula]    Script Date: 20/12/2025 20:27:08 ******/
CREATE NONCLUSTERED INDEX [IX_Pacientes_Cedula] ON [dbo].[Pacientes]
(
	[Cedula] ASC
)
WHERE ([Cedula] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Productos_Stock]    Script Date: 20/12/2025 20:27:08 ******/
CREATE NONCLUSTERED INDEX [IX_Productos_Stock] ON [dbo].[Productos]
(
	[Activo] ASC
)
INCLUDE([Codigo],[Nombre],[Stock_Unitario],[Stock_Minimo],[Stock_Maximo]) 
WHERE ([Activo]=(1))
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProveedorGastos_Estado]    Script Date: 20/12/2025 20:27:08 ******/
CREATE NONCLUSTERED INDEX [IX_ProveedorGastos_Estado] ON [dbo].[Proveedor_Gastos]
(
	[Estado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ProveedorGastos_Nombre]    Script Date: 20/12/2025 20:27:08 ******/
CREATE NONCLUSTERED INDEX [IX_ProveedorGastos_Nombre] ON [dbo].[Proveedor_Gastos]
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Tipo_Trabajadores_area_funcional]    Script Date: 20/12/2025 20:27:08 ******/
CREATE NONCLUSTERED INDEX [IX_Tipo_Trabajadores_area_funcional] ON [dbo].[Tipo_Trabajadores]
(
	[area_funcional] ASC
)
WHERE ([area_funcional] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IDX_TrabajadorEsp_Especialidad_Principal]    Script Date: 20/12/2025 20:27:08 ******/
CREATE NONCLUSTERED INDEX [IDX_TrabajadorEsp_Especialidad_Principal] ON [dbo].[Trabajador_Especialidad]
(
	[Id_Especialidad] ASC,
	[Es_Principal] ASC
)
INCLUDE([Id_Trabajador]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CierreCaja] ADD  DEFAULT (getdate()) FOR [FechaCierre]
GO
ALTER TABLE [dbo].[Compra] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Consultas] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Consultas] ADD  DEFAULT ('Normal') FOR [Tipo_Consulta]
GO
ALTER TABLE [dbo].[DetalleCompra] ADD  DEFAULT ((0)) FOR [Cantidad_Unitario]
GO
ALTER TABLE [dbo].[Egresos] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Egresos] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Enfermeria] ADD  DEFAULT ((1)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[Enfermeria] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Enfermeria] ADD  DEFAULT ('Normal') FOR [Tipo]
GO
ALTER TABLE [dbo].[IngresosExtras] ADD  CONSTRAINT [DF_IngresosExtras_fecha]  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[Laboratorio] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Laboratorio] ADD  DEFAULT ((1)) FOR [Id_RegistradoPor]
GO
ALTER TABLE [dbo].[Laboratorio] ADD  DEFAULT ('Normal') FOR [Tipo]
GO
ALTER TABLE [dbo].[Lote] ADD  DEFAULT ((0)) FOR [Cantidad_Unitario]
GO
ALTER TABLE [dbo].[Lote] ADD  DEFAULT ((0)) FOR [Stock_Actual]
GO
ALTER TABLE [dbo].[Lote] ADD  DEFAULT ('ACTIVO') FOR [Estado]
GO
ALTER TABLE [dbo].[Lote] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((10)) FOR [Stock_Minimo]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Proveedor_Gastos] ADD  DEFAULT ((0)) FOR [Frecuencia_Uso]
GO
ALTER TABLE [dbo].[Proveedor_Gastos] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Proveedor_Gastos] ADD  DEFAULT (getdate()) FOR [Fecha_Creacion]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Sesiones_Usuario] ADD  DEFAULT ((1)) FOR [Activa]
GO
ALTER TABLE [dbo].[Trabajador_Especialidad] ADD  DEFAULT (getdate()) FOR [Fecha_Asignacion]
GO
ALTER TABLE [dbo].[Trabajador_Especialidad] ADD  DEFAULT ((0)) FOR [Es_Principal]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[CierreCaja]  WITH CHECK ADD  CONSTRAINT [FK_CierresCaja_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[CierreCaja] CHECK CONSTRAINT [FK_CierresCaja_Usuario]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD FOREIGN KEY([Id_Proveedor])
REFERENCES [dbo].[Proveedor] ([id])
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Consultas]  WITH NOCHECK ADD FOREIGN KEY([Id_Especialidad])
REFERENCES [dbo].[Especialidad] ([id])
GO
ALTER TABLE [dbo].[Consultas]  WITH NOCHECK ADD FOREIGN KEY([Id_Paciente])
REFERENCES [dbo].[Pacientes] ([id])
GO
ALTER TABLE [dbo].[Consultas]  WITH NOCHECK ADD FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Consultas]  WITH CHECK ADD  CONSTRAINT [FK_Consultas_Trabajador] FOREIGN KEY([Id_Trabajador])
REFERENCES [dbo].[Trabajadores] ([id])
GO
ALTER TABLE [dbo].[Consultas] CHECK CONSTRAINT [FK_Consultas_Trabajador]
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH NOCHECK ADD FOREIGN KEY([Id_Compra])
REFERENCES [dbo].[Compra] ([id])
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH NOCHECK ADD FOREIGN KEY([Id_Lote])
REFERENCES [dbo].[Lote] ([id])
GO
ALTER TABLE [dbo].[DetallesVentas]  WITH NOCHECK ADD FOREIGN KEY([Id_Lote])
REFERENCES [dbo].[Lote] ([id])
GO
ALTER TABLE [dbo].[DetallesVentas]  WITH NOCHECK ADD FOREIGN KEY([Id_Venta])
REFERENCES [dbo].[Ventas] ([id])
GO
ALTER TABLE [dbo].[Egresos]  WITH CHECK ADD  CONSTRAINT [FK_Egresos_TipoGasto] FOREIGN KEY([Id_Tipo_Gasto])
REFERENCES [dbo].[Tipo_Gastos] ([id])
GO
ALTER TABLE [dbo].[Egresos] CHECK CONSTRAINT [FK_Egresos_TipoGasto]
GO
ALTER TABLE [dbo].[Egresos]  WITH CHECK ADD  CONSTRAINT [FK_Egresos_Usuario] FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Egresos] CHECK CONSTRAINT [FK_Egresos_Usuario]
GO
ALTER TABLE [dbo].[Egresos]  WITH CHECK ADD  CONSTRAINT [FK_Egresos_UsuarioAnulacion] FOREIGN KEY([Usuario_Anulacion])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Egresos] CHECK CONSTRAINT [FK_Egresos_UsuarioAnulacion]
GO
ALTER TABLE [dbo].[Enfermeria]  WITH CHECK ADD  CONSTRAINT [FK_Enfermeria_Paciente] FOREIGN KEY([Id_Paciente])
REFERENCES [dbo].[Pacientes] ([id])
GO
ALTER TABLE [dbo].[Enfermeria] CHECK CONSTRAINT [FK_Enfermeria_Paciente]
GO
ALTER TABLE [dbo].[Enfermeria]  WITH CHECK ADD  CONSTRAINT [FK_Enfermeria_Procedimiento] FOREIGN KEY([Id_Procedimiento])
REFERENCES [dbo].[Tipos_Procedimientos] ([id])
GO
ALTER TABLE [dbo].[Enfermeria] CHECK CONSTRAINT [FK_Enfermeria_Procedimiento]
GO
ALTER TABLE [dbo].[Enfermeria]  WITH CHECK ADD  CONSTRAINT [FK_Enfermeria_Trabajador] FOREIGN KEY([Id_Trabajador])
REFERENCES [dbo].[Trabajadores] ([id])
GO
ALTER TABLE [dbo].[Enfermeria] CHECK CONSTRAINT [FK_Enfermeria_Trabajador]
GO
ALTER TABLE [dbo].[Enfermeria]  WITH CHECK ADD  CONSTRAINT [FK_Enfermeria_Usuario] FOREIGN KEY([Id_RegistradoPor])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Enfermeria] CHECK CONSTRAINT [FK_Enfermeria_Usuario]
GO
ALTER TABLE [dbo].[Gastos]  WITH CHECK ADD FOREIGN KEY([Id_RegistradoPor])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Gastos]  WITH CHECK ADD FOREIGN KEY([ID_Tipo])
REFERENCES [dbo].[Tipo_Gastos] ([id])
GO
ALTER TABLE [dbo].[Gastos]  WITH CHECK ADD  CONSTRAINT [FK_Gastos_ProveedorGastos] FOREIGN KEY([ID_Proveedor])
REFERENCES [dbo].[Proveedor_Gastos] ([id])
GO
ALTER TABLE [dbo].[Gastos] CHECK CONSTRAINT [FK_Gastos_ProveedorGastos]
GO
ALTER TABLE [dbo].[IngresosExtras]  WITH CHECK ADD FOREIGN KEY([id_registradoPor])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Laboratorio]  WITH NOCHECK ADD FOREIGN KEY([Id_Paciente])
REFERENCES [dbo].[Pacientes] ([id])
GO
ALTER TABLE [dbo].[Laboratorio]  WITH NOCHECK ADD FOREIGN KEY([Id_Trabajador])
REFERENCES [dbo].[Trabajadores] ([id])
GO
ALTER TABLE [dbo].[Laboratorio]  WITH CHECK ADD  CONSTRAINT [FK_Laboratorio_TipoAnalisis] FOREIGN KEY([Id_Tipo_Analisis])
REFERENCES [dbo].[Tipos_Analisis] ([id])
GO
ALTER TABLE [dbo].[Laboratorio] CHECK CONSTRAINT [FK_Laboratorio_TipoAnalisis]
GO
ALTER TABLE [dbo].[Laboratorio]  WITH CHECK ADD  CONSTRAINT [FK_Laboratorio_Usuario] FOREIGN KEY([Id_RegistradoPor])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Laboratorio] CHECK CONSTRAINT [FK_Laboratorio_Usuario]
GO
ALTER TABLE [dbo].[Lote]  WITH CHECK ADD FOREIGN KEY([Id_Producto])
REFERENCES [dbo].[Productos] ([id])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([ID_Marca])
REFERENCES [dbo].[Marca] ([id])
GO
ALTER TABLE [dbo].[Sesiones_Usuario]  WITH CHECK ADD FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Trabajador_Especialidad]  WITH CHECK ADD  CONSTRAINT [FK_TrabEsp_Especialidad] FOREIGN KEY([Id_Especialidad])
REFERENCES [dbo].[Especialidad] ([id])
GO
ALTER TABLE [dbo].[Trabajador_Especialidad] CHECK CONSTRAINT [FK_TrabEsp_Especialidad]
GO
ALTER TABLE [dbo].[Trabajador_Especialidad]  WITH CHECK ADD  CONSTRAINT [FK_TrabEsp_Trabajador] FOREIGN KEY([Id_Trabajador])
REFERENCES [dbo].[Trabajadores] ([id])
GO
ALTER TABLE [dbo].[Trabajador_Especialidad] CHECK CONSTRAINT [FK_TrabEsp_Trabajador]
GO
ALTER TABLE [dbo].[Trabajadores]  WITH CHECK ADD FOREIGN KEY([Id_Tipo_Trabajador])
REFERENCES [dbo].[Tipo_Trabajadores] ([id])
GO
ALTER TABLE [dbo].[Usuario]  WITH NOCHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([Id_Rol])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD CHECK  (([Total]>=(0)))
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH NOCHECK ADD CHECK  (([Cantidad_Unitario]>=(0)))
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH NOCHECK ADD CHECK  (([Precio_Unitario]>=(0)))
GO
ALTER TABLE [dbo].[DetallesVentas]  WITH NOCHECK ADD CHECK  (([Cantidad_Unitario]>(0)))
GO
ALTER TABLE [dbo].[DetallesVentas]  WITH NOCHECK ADD CHECK  (([Precio_Unitario]>=(0)))
GO
ALTER TABLE [dbo].[Egresos]  WITH CHECK ADD  CONSTRAINT [CK_Egresos_Monto_Positivo] CHECK  (([Monto]>(0)))
GO
ALTER TABLE [dbo].[Egresos] CHECK CONSTRAINT [CK_Egresos_Monto_Positivo]
GO
ALTER TABLE [dbo].[Enfermeria]  WITH CHECK ADD CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[Enfermeria]  WITH CHECK ADD CHECK  (([Tipo]='Emergencia' OR [Tipo]='Normal'))
GO
ALTER TABLE [dbo].[Especialidad]  WITH CHECK ADD CHECK  (([Precio_Normal]>=(0)))
GO
ALTER TABLE [dbo].[Especialidad]  WITH CHECK ADD CHECK  (([Precio_Emergencia]>=(0)))
GO
ALTER TABLE [dbo].[Gastos]  WITH CHECK ADD CHECK  (([Monto]>=(0)))
GO
ALTER TABLE [dbo].[IngresosExtras]  WITH CHECK ADD CHECK  (([monto]>=(0)))
GO
ALTER TABLE [dbo].[Laboratorio]  WITH CHECK ADD CHECK  (([Tipo]='Emergencia' OR [Tipo]='Normal'))
GO
ALTER TABLE [dbo].[Lote]  WITH CHECK ADD CHECK  (([Cantidad_Unitario]>=(0)))
GO
ALTER TABLE [dbo].[Lote]  WITH CHECK ADD  CONSTRAINT [CK_Lote_Estado] CHECK  (([Estado]='INACTIVO' OR [Estado]='VENCIDO' OR [Estado]='AGOTADO' OR [Estado]='ACTIVO'))
GO
ALTER TABLE [dbo].[Lote] CHECK CONSTRAINT [CK_Lote_Estado]
GO
ALTER TABLE [dbo].[Pacientes]  WITH CHECK ADD  CONSTRAINT [CK_Pacientes_Cedula_Formato] CHECK  (([Cedula] IS NULL OR len([CEDULA])>=(5) AND NOT [CEDULA] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[Pacientes] CHECK CONSTRAINT [CK_Pacientes_Cedula_Formato]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD CHECK  (([Precio_compra]>=(0)))
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD CHECK  (([Precio_venta]>=(0)))
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD CHECK  (([Stock_Unitario]>=(0)))
GO
ALTER TABLE [dbo].[Tipo_Trabajadores]  WITH CHECK ADD  CONSTRAINT [CK_Tipo_Trabajadores_area_funcional] CHECK  (([area_funcional] IS NULL OR ([area_funcional]='ADMINISTRATIVO' OR [area_funcional]='FARMACIA' OR [area_funcional]='LABORATORIO' OR [area_funcional]='ENFERMERIA' OR [area_funcional]='MEDICO')))
GO
ALTER TABLE [dbo].[Tipo_Trabajadores] CHECK CONSTRAINT [CK_Tipo_Trabajadores_area_funcional]
GO
ALTER TABLE [dbo].[Tipos_Analisis]  WITH CHECK ADD CHECK  (([Precio_Normal]>=(0)))
GO
ALTER TABLE [dbo].[Tipos_Analisis]  WITH CHECK ADD CHECK  (([Precio_Emergencia]>=(0)))
GO
ALTER TABLE [dbo].[Tipos_Procedimientos]  WITH CHECK ADD CHECK  (([Precio_Normal]>=(0)))
GO
ALTER TABLE [dbo].[Tipos_Procedimientos]  WITH CHECK ADD CHECK  (([Precio_Emergencia]>=(0)))
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD CHECK  (([Total]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_Ajustar_Inventario]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento 4: Ajustar inventario
CREATE   PROCEDURE [dbo].[sp_Ajustar_Inventario]
    @Id_Producto INT,
    @Id_Lote INT = NULL,
    @Cantidad INT,
    @Tipo_Ajuste VARCHAR(20),  -- 'INCREMENTO', 'DECREMENTO', 'CORRECCION'
    @Motivo VARCHAR(500),
    @Id_Usuario INT,
    @Observaciones VARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    
    BEGIN TRY
        DECLARE @Stock_Anterior INT, @Stock_Nuevo INT;
        DECLARE @FechaAjuste DATETIME = GETDATE();
        
        -- Si no se especifica lote, usar el más antiguo (FIFO)
        IF @Id_Lote IS NULL
        BEGIN
            SELECT TOP 1 @Id_Lote = id
            FROM [dbo].[Lote]
            WHERE Id_Producto = @Id_Producto
              AND Estado = 'ACTIVO'
              AND Stock_Actual > 0
            ORDER BY 
                CASE WHEN Fecha_Vencimiento IS NOT NULL THEN Fecha_Vencimiento ELSE '9999-12-31' END,
                Fecha_Compra;
                
            IF @Id_Lote IS NULL
            BEGIN
                RAISERROR('No hay lotes activos para el producto especificado.', 16, 1);
                RETURN -1;
            END
        END
        
        -- Obtener stock actual
        SELECT @Stock_Anterior = Stock_Actual
        FROM [dbo].[Lote]
        WHERE id = @Id_Lote;
        
        -- Calcular nuevo stock según tipo de ajuste
        SET @Stock_Nuevo = CASE @Tipo_Ajuste
            WHEN 'INCREMENTO' THEN @Stock_Anterior + @Cantidad
            WHEN 'DECREMENTO' THEN @Stock_Anterior - @Cantidad
            WHEN 'CORRECCION' THEN @Cantidad
            ELSE @Stock_Anterior
        END;
        
        IF @Stock_Nuevo < 0
        BEGIN
            RAISERROR('El ajuste resultaría en stock negativo.', 16, 1);
            RETURN -1;
        END
        
        -- Actualizar lote
        UPDATE [dbo].[Lote]
        SET 
            Stock_Actual = @Stock_Nuevo,
            Fecha_Modificacion = @FechaAjuste,
            Usuario_Modificacion = @Id_Usuario
        WHERE id = @Id_Lote;
        
        -- Registrar en Kardex
        INSERT INTO [dbo].[Kardex] (
            Id_Producto,
            Id_Lote,
            Tipo_Movimiento,
            Documento_Referencia,
            Cantidad,
            Stock_Anterior,
            Stock_Nuevo,
            Id_Usuario,
            Observaciones
        )
        VALUES (
            @Id_Producto,
            @Id_Lote,
            'AJUSTE',
            @Motivo,
            ABS(@Stock_Nuevo - @Stock_Anterior),
            @Stock_Anterior,
            @Stock_Nuevo,
            @Id_Usuario,
            ISNULL(@Observaciones, CONCAT('Ajuste ', @Tipo_Ajuste, ' - ', @Motivo))
        );
        
        COMMIT TRANSACTION;
        
        PRINT 'Ajuste de inventario registrado exitosamente. Lote ID: ' + CAST(@Id_Lote AS VARCHAR);
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
        RETURN -1;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Obtener_Margen_Venta]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Procedimiento 3: Obtener margen de ganancia por venta
CREATE   PROCEDURE [dbo].[sp_Obtener_Margen_Venta]
    @Id_Venta INT
AS
BEGIN
    SET NOCOUNT ON;
    
    SELECT 
        dv.id as Id_Detalle,
        p.Codigo,
        p.Nombre as Producto,
        l.id as Id_Lote,
        FORMAT(l.Fecha_Compra, 'dd/MM/yyyy') as Fecha_Compra_Lote,
        dv.Cantidad_Unitario,
        dv.Precio_Unitario as Precio_Venta,
        dv.Costo_Unitario,
        dv.Margen as Margen_Unitario,
        dv.Margen * dv.Cantidad_Unitario as Margen_Total,
        dv.Porcentaje_Margen,
        v.Fecha as Fecha_Venta,
        u.Nombre + ' ' + u.Apellido_Paterno as Vendedor
    FROM [dbo].[DetallesVentas] dv
    INNER JOIN [dbo].[Lote] l ON dv.Id_Lote = l.id
    INNER JOIN [dbo].[Productos] p ON l.Id_Producto = p.id
    INNER JOIN [dbo].[Ventas] v ON dv.Id_Venta = v.id
    INNER JOIN [dbo].[Usuario] u ON v.Id_Usuario = u.id
    WHERE dv.Id_Venta = @Id_Venta
    ORDER BY p.Nombre;
    
    -- Resumen total
    SELECT 
        'TOTAL' as Concepto,
        SUM(dv.Cantidad_Unitario) as Total_Unidades,
        SUM(dv.Cantidad_Unitario * dv.Precio_Unitario) as Total_Venta,
        SUM(dv.Cantidad_Unitario * dv.Costo_Unitario) as Total_Costo,
        SUM(dv.Margen * dv.Cantidad_Unitario) as Total_Margen,
        AVG(dv.Porcentaje_Margen) as Porcentaje_Margen_Promedio
    FROM [dbo].[DetallesVentas] dv
    WHERE dv.Id_Venta = @Id_Venta;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_Registrar_Compra_Con_Lotes]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Registrar_Compra_Con_Lotes]
    @Id_Proveedor INT,
    @Id_Usuario INT,
    @Detalles NVARCHAR(MAX),  -- JSON con detalles de productos
    @Total DECIMAL(12,2) OUTPUT,
    @Id_Compra INT OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    
    BEGIN TRY
        DECLARE @FechaCompra DATETIME = GETDATE();
        
        -- 1. Insertar la compra
        INSERT INTO [dbo].[Compra] (Id_Proveedor, Id_Usuario, Fecha, Total)
        VALUES (@Id_Proveedor, @Id_Usuario, @FechaCompra, 0);
        
        SET @Id_Compra = SCOPE_IDENTITY();
        SET @Total = 0;
        
        -- 2. Parsear JSON y procesar cada producto
        DECLARE @DetalleTable TABLE (
            Id_Producto INT,
            Cantidad INT,
            Precio_Unitario DECIMAL(10,2),
            Fecha_Vencimiento DATE
        );
        
        -- Insertar datos del JSON en tabla temporal
        INSERT INTO @DetalleTable (Id_Producto, Cantidad, Precio_Unitario, Fecha_Vencimiento)
        SELECT 
            JSON_VALUE(value, '$.Id_Producto'),
            JSON_VALUE(value, '$.Cantidad'),
            JSON_VALUE(value, '$.Precio_Unitario'),
            TRY_CAST(JSON_VALUE(value, '$.Fecha_Vencimiento') AS DATE)
        FROM OPENJSON(@Detalles);
        
        -- 3. Para cada producto, crear lotes
        DECLARE @ProductoId INT, @CantidadProducto INT, @PrecioProducto DECIMAL(10,2), @Vencimiento DATE;
        
        DECLARE producto_cursor CURSOR FOR
        SELECT Id_Producto, Cantidad, Precio_Unitario, Fecha_Vencimiento
        FROM @DetalleTable;
        
        OPEN producto_cursor;
        FETCH NEXT FROM producto_cursor INTO @ProductoId, @CantidadProducto, @PrecioProducto, @Vencimiento;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Crear un nuevo lote
            DECLARE @Id_Lote INT;
            
            INSERT INTO [dbo].[Lote] (
                Id_Producto,
                Cantidad_Unitario,
                Stock_Actual,
                Fecha_Vencimiento,
                Id_Compra,
                Fecha_Compra,
                Precio_Compra,
                Usuario_Creacion,
                Estado
            )
            VALUES (
                @ProductoId,
                @CantidadProducto,
                @CantidadProducto,  -- Stock inicial igual a cantidad
                @Vencimiento,
                @Id_Compra,
                @FechaCompra,
                @PrecioProducto,
                @Id_Usuario,
                'ACTIVO'
            );
            
            SET @Id_Lote = SCOPE_IDENTITY();
            
            -- Insertar en DetalleCompra
            INSERT INTO [dbo].[DetalleCompra] (Id_Compra, Id_Lote, Cantidad_Unitario, Precio_Unitario)
            VALUES (@Id_Compra, @Id_Lote, @CantidadProducto, @PrecioProducto);
            
            -- Calcular subtotal
            SET @Total = @Total + (@CantidadProducto * @PrecioProducto);
            
            FETCH NEXT FROM producto_cursor INTO @ProductoId, @CantidadProducto, @PrecioProducto, @Vencimiento;
        END
        
        CLOSE producto_cursor;
        DEALLOCATE producto_cursor;
        
        -- 4. Actualizar total de la compra
        UPDATE [dbo].[Compra] 
        SET Total = @Total 
        WHERE id = @Id_Compra;
        
        COMMIT TRANSACTION;
        
        PRINT 'Compra registrada exitosamente. ID: ' + CAST(@Id_Compra AS VARCHAR);
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
        SET @Id_Compra = -1;
        SET @Total = 0;
    END CATCH
END
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertPaciente]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpsertPaciente]
    @Nombre VARCHAR(100),
    @Apellido_Paterno VARCHAR(100), 
    @Apellido_Materno VARCHAR(100),
    @Fecha_Nacimiento DATE,
    @Cedula VARCHAR(20) = NULL,
    @Id INT = NULL OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Verificar si existe por cédula (si se proporciona)
    IF @Cedula IS NOT NULL
    BEGIN
        SELECT @Id = id FROM Pacientes WHERE Cedula = @Cedula;
    END
    
    -- Si no existe, buscar por nombre completo
    IF @Id IS NULL
    BEGIN
        SELECT @Id = id FROM Pacientes 
        WHERE Nombre = @Nombre 
        AND Apellido_Paterno = @Apellido_Paterno
        AND Apellido_Materno = @Apellido_Materno;
    END
    
    IF @Id IS NULL
    BEGIN
        -- Crear nuevo paciente
        INSERT INTO Pacientes (Nombre, Apellido_Paterno, Apellido_Materno, Fecha_Nacimiento, Cedula)
        VALUES (@Nombre, @Apellido_Paterno, @Apellido_Materno, @Fecha_Nacimiento, @Cedula);
        
        SET @Id = SCOPE_IDENTITY();
    END
    ELSE
    BEGIN
        -- Actualizar paciente existente
        UPDATE Pacientes 
        SET Fecha_Nacimiento = @Fecha_Nacimiento,
            Cedula = COALESCE(@Cedula, Cedula)
        WHERE id = @Id;
    END
END

GO
/****** Object:  StoredProcedure [dbo].[sp_Vender_Producto_FIFO]    Script Date: 20/12/2025 20:27:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_Vender_Producto_FIFO]
    @Id_Usuario INT,
    @Detalles NVARCHAR(MAX),  -- JSON con productos a vender
    @Id_Venta INT OUTPUT,
    @Total_Venta DECIMAL(12,2) OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRANSACTION;
    
    BEGIN TRY
        DECLARE @FechaVenta DATETIME = GETDATE();
        DECLARE @Total DECIMAL(12,2) = 0;
        
        -- 1. Crear la venta
        INSERT INTO [dbo].[Ventas] (Id_Usuario, Fecha, Total)
        VALUES (@Id_Usuario, @FechaVenta, 0);
        
        SET @Id_Venta = SCOPE_IDENTITY();
        
        -- 2. Parsear detalles de venta
        DECLARE @DetalleVenta TABLE (
            Id_Producto INT,
            Cantidad INT,
            Precio_Venta DECIMAL(10,2),
            Cantidad_Restante INT
        );
        
        INSERT INTO @DetalleVenta (Id_Producto, Cantidad, Precio_Venta, Cantidad_Restante)
        SELECT 
            JSON_VALUE(value, '$.Id_Producto'),
            JSON_VALUE(value, '$.Cantidad'),
            JSON_VALUE(value, '$.Precio_Venta'),
            JSON_VALUE(value, '$.Cantidad')
        FROM OPENJSON(@Detalles);
        
        -- 3. Variables para procesamiento FIFO
        DECLARE @Id_Producto_Actual INT, @Cantidad_Necesaria INT, @Precio_Venta_Actual DECIMAL(10,2);
        DECLARE @Id_Lote_Actual INT, @Stock_Lote INT;
        DECLARE @Cantidad_A_Vender INT;
        
        -- Cursor para procesar cada producto
        DECLARE producto_cursor CURSOR FOR
        SELECT Id_Producto, Cantidad_Restante, Precio_Venta
        FROM @DetalleVenta
        WHERE Cantidad_Restante > 0;
        
        OPEN producto_cursor;
        FETCH NEXT FROM producto_cursor INTO @Id_Producto_Actual, @Cantidad_Necesaria, @Precio_Venta_Actual;
        
        WHILE @@FETCH_STATUS = 0
        BEGIN
            -- Verificar stock total disponible
            DECLARE @Stock_Disponible INT;
            
            SELECT @Stock_Disponible = SUM(Stock_Actual)
            FROM [dbo].[Lote]
            WHERE Id_Producto = @Id_Producto_Actual
              AND Estado = 'ACTIVO'
              AND (Fecha_Vencimiento IS NULL OR Fecha_Vencimiento > GETDATE());
            
            -- Manejar NULL
            SET @Stock_Disponible = ISNULL(@Stock_Disponible, 0);
            
            IF @Stock_Disponible < @Cantidad_Necesaria
            BEGIN
                DECLARE @ProductoNombre VARCHAR(200);
                
                SELECT @ProductoNombre = Nombre 
                FROM [dbo].[Productos] 
                WHERE id = @Id_Producto_Actual;
                
                DECLARE @MensajeError NVARCHAR(4000);
                SET @MensajeError = 'Stock insuficiente para el producto: ' + @ProductoNombre + 
                                   '. Disponible: ' + CAST(@Stock_Disponible AS VARCHAR) + 
                                   ', Solicitado: ' + CAST(@Cantidad_Necesaria AS VARCHAR);
                
                RAISERROR(@MensajeError, 16, 1);
                ROLLBACK TRANSACTION;
                SET @Id_Venta = -1;
                SET @Total_Venta = 0;
                RETURN -1;
            END
            
            -- Cursor para lotes ordenados por fecha (FIFO)
            DECLARE lote_cursor CURSOR FOR
            SELECT id, Stock_Actual
            FROM [dbo].[Lote]
            WHERE Id_Producto = @Id_Producto_Actual
              AND Estado = 'ACTIVO'
              AND Stock_Actual > 0
              AND (Fecha_Vencimiento IS NULL OR Fecha_Vencimiento > GETDATE())
            ORDER BY 
                CASE 
                    WHEN Fecha_Vencimiento IS NOT NULL THEN Fecha_Vencimiento 
                    ELSE '9999-12-31' 
                END,
                Fecha_Compra;
            
            OPEN lote_cursor;
            FETCH NEXT FROM lote_cursor INTO @Id_Lote_Actual, @Stock_Lote;
            
            WHILE @Cantidad_Necesaria > 0 AND @@FETCH_STATUS = 0
            BEGIN
                -- Calcular cuánto vender de este lote
                SET @Cantidad_A_Vender = CASE 
                    WHEN @Stock_Lote >= @Cantidad_Necesaria THEN @Cantidad_Necesaria
                    ELSE @Stock_Lote
                END;
                
                -- Insertar detalle de venta
                INSERT INTO [dbo].[DetallesVentas] (
                    Id_Venta, 
                    Id_Lote, 
                    Cantidad_Unitario, 
                    Precio_Unitario
                )
                VALUES (
                    @Id_Venta,
                    @Id_Lote_Actual,
                    @Cantidad_A_Vender,
                    @Precio_Venta_Actual
                );
                
                -- Actualizar cantidad restante
                UPDATE @DetalleVenta
                SET Cantidad_Restante = Cantidad_Restante - @Cantidad_A_Vender
                WHERE Id_Producto = @Id_Producto_Actual;
                
                -- Sumar al total
                SET @Total = @Total + (@Cantidad_A_Vender * @Precio_Venta_Actual);
                
                -- Actualizar cantidad necesaria
                SET @Cantidad_Necesaria = @Cantidad_Necesaria - @Cantidad_A_Vender;
                
                FETCH NEXT FROM lote_cursor INTO @Id_Lote_Actual, @Stock_Lote;
            END
            
            CLOSE lote_cursor;
            DEALLOCATE lote_cursor;
            
            FETCH NEXT FROM producto_cursor INTO @Id_Producto_Actual, @Cantidad_Necesaria, @Precio_Venta_Actual;
        END
        
        CLOSE producto_cursor;
        DEALLOCATE producto_cursor;
        
        -- 4. Actualizar total de la venta
        UPDATE [dbo].[Ventas] 
        SET Total = @Total 
        WHERE id = @Id_Venta;
        
        SET @Total_Venta = @Total;
        
        -- 5. Verificar que se hayan cubierto todas las cantidades
        DECLARE @ProductosPendientes NVARCHAR(MAX) = '';
        
        SELECT @ProductosPendientes = @ProductosPendientes + 
               'Producto ' + CAST(Id_Producto AS VARCHAR) + ': ' + CAST(Cantidad_Restante AS VARCHAR) + ', '
        FROM @DetalleVenta 
        WHERE Cantidad_Restante > 0;
        
        IF LEN(@ProductosPendientes) > 0
        BEGIN
            -- Quitar la última coma
            SET @ProductosPendientes = LEFT(@ProductosPendientes, LEN(@ProductosPendientes) - 1);
            
            DECLARE @ErrorMsg NVARCHAR(4000) = 'Error en el procesamiento FIFO. Cantidades pendientes: ' + @ProductosPendientes;
            RAISERROR(@ErrorMsg, 16, 1);
            ROLLBACK TRANSACTION;
            SET @Id_Venta = -1;
            SET @Total_Venta = 0;
            RETURN -1;
        END
        
        COMMIT TRANSACTION;
        
        PRINT 'Venta procesada exitosamente con FIFO. ID Venta: ' + CAST(@Id_Venta AS VARCHAR);
        
    END TRY
    BEGIN CATCH
        ROLLBACK TRANSACTION;
        
        DECLARE @ErrorMessage NVARCHAR(4000) = ERROR_MESSAGE();
        DECLARE @ErrorSeverity INT = ERROR_SEVERITY();
        DECLARE @ErrorState INT = ERROR_STATE();
        
        RAISERROR(@ErrorMessage, @ErrorSeverity, @ErrorState);
        SET @Id_Venta = -1;
        SET @Total_Venta = 0;
    END CATCH
END
GO
USE [master]
GO
