USE [ClinicaMariaInmaculada]
GO
/****** Object:  User [ADMIN]    Script Date: 08/09/2025 09:55:36 a. m. ******/
CREATE USER [ADMIN] WITHOUT LOGIN WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_owner] ADD MEMBER [ADMIN]
GO
ALTER ROLE [db_datareader] ADD MEMBER [ADMIN]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [ADMIN]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcularEdad]    Script Date: 08/09/2025 09:55:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcularEdad](@fecha_nacimiento DATE)
RETURNS INT
AS
BEGIN
    DECLARE @edad INT;
    SET @edad = DATEDIFF(YEAR, @fecha_nacimiento, GETDATE());
    
    -- Ajustar si no ha cumplido años este año
    IF (DATEADD(YEAR, @edad, @fecha_nacimiento) > GETDATE())
        SET @edad = @edad - 1;
    
    RETURN @edad;
END

GO
/****** Object:  Table [dbo].[Pacientes]    Script Date: 08/09/2025 09:55:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pacientes](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido_Paterno] [varchar](100) NOT NULL,
	[Apellido_Materno] [varchar](100) NOT NULL,
	[Cedula] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_Pacientes_ConEdad]    Script Date: 08/09/2025 09:55:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_Pacientes_ConEdad] AS
SELECT 
    id,
    Nombre,
    Apellido_Paterno,
    Apellido_Materno,
    Cedula,
    Fecha_Nacimiento,
    dbo.fn_CalcularEdad(Fecha_Nacimiento) AS Edad
FROM Pacientes;

GO
/****** Object:  Table [dbo].[Compra]    Script Date: 08/09/2025 09:55:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Compra](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Proveedor] [int] NOT NULL,
	[Id_Usuario] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Total] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Consultas]    Script Date: 08/09/2025 09:55:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Consultas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Usuario] [int] NOT NULL,
	[Id_Paciente] [int] NOT NULL,
	[Id_Especialidad] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Detalles] [text] NOT NULL,
	[Tipo_Consulta] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetalleCompra]    Script Date: 08/09/2025 09:55:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetalleCompra](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Compra] [int] NOT NULL,
	[Id_Lote] [int] NOT NULL,
	[Cantidad_Caja] [int] NOT NULL,
	[Cantidad_Unitario] [int] NOT NULL,
	[Precio_Unitario] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DetallesVentas]    Script Date: 08/09/2025 09:55:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DetallesVentas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Venta] [int] NOT NULL,
	[Id_Lote] [int] NOT NULL,
	[Cantidad_Unitario] [int] NOT NULL,
	[Precio_Unitario] [decimal](10, 2) NOT NULL,
	[Detalles] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Doctores]    Script Date: 08/09/2025 09:55:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Doctores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido_Paterno] [varchar](100) NOT NULL,
	[Apellido_Materno] [varchar](100) NOT NULL,
	[Especialidad] [varchar](150) NOT NULL,
	[Matricula] [varchar](50) NOT NULL,
	[Edad] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Matricula] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Enfermeria]    Script Date: 08/09/2025 09:55:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Enfermeria](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Paciente] [int] NOT NULL,
	[Id_Procedimiento] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Id_RegistradoPor] [int] NOT NULL,
	[Id_Trabajador] [int] NULL,
	[Tipo] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Especialidad]    Script Date: 08/09/2025 09:55:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Especialidad](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Detalles] [varchar](500) NULL,
	[Precio_Normal] [decimal](10, 2) NOT NULL,
	[Precio_Emergencia] [decimal](10, 2) NOT NULL,
	[Id_Doctor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gastos]    Script Date: 08/09/2025 09:55:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gastos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ID_Tipo] [int] NOT NULL,
	[Descripcion] [varchar](500) NOT NULL,
	[Monto] [decimal](12, 2) NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Proveedor] [varchar](200) NULL,
	[Id_RegistradoPor] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Laboratorio]    Script Date: 08/09/2025 09:55:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Laboratorio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Paciente] [int] NOT NULL,
	[Id_Trabajador] [int] NULL,
	[Id_Tipo_Analisis] [int] NULL,
	[Fecha] [datetime] NOT NULL,
	[Id_RegistradoPor] [int] NOT NULL,
	[Tipo] [varchar](50) NOT NULL,
	[Detalles] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Lote]    Script Date: 08/09/2025 09:55:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Lote](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Producto] [int] NOT NULL,
	[Cantidad_Caja] [int] NOT NULL,
	[Cantidad_Unitario] [int] NOT NULL,
	[Fecha_Vencimiento] [date] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Marca]    Script Date: 08/09/2025 09:55:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Marca](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Detalles] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Productos]    Script Date: 08/09/2025 09:55:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Productos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](50) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Detalles] [varchar](500) NULL,
	[Precio_compra] [decimal](10, 2) NOT NULL,
	[Precio_venta] [decimal](10, 2) NOT NULL,
	[Stock_Caja] [int] NOT NULL,
	[Stock_Unitario] [int] NOT NULL,
	[Unidad_Medida] [varchar](50) NOT NULL,
	[ID_Marca] [int] NOT NULL,
	[Fecha_Venc] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Proveedor]    Script Date: 08/09/2025 09:55:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Proveedor](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Direccion] [varchar](300) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 08/09/2025 09:55:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](300) NULL,
	[Estado] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Gastos]    Script Date: 08/09/2025 09:55:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Gastos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[descripcion] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipo_Trabajadores]    Script Date: 08/09/2025 09:55:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipo_Trabajadores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Tipo] [varchar](100) NOT NULL,
	[descripcion] [nvarchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipos_Analisis]    Script Date: 08/09/2025 09:55:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos_Analisis](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[Precio_Normal] [decimal](10, 2) NOT NULL,
	[Precio_Emergencia] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tipos_Procedimientos]    Script Date: 08/09/2025 09:55:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tipos_Procedimientos](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](200) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[Precio_Normal] [decimal](10, 2) NOT NULL,
	[Precio_Emergencia] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Trabajadores]    Script Date: 08/09/2025 09:55:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Trabajadores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido_Paterno] [varchar](100) NOT NULL,
	[Apellido_Materno] [varchar](100) NOT NULL,
	[Id_Tipo_Trabajador] [int] NOT NULL,
	[Matricula] [varchar](50) NULL,
	[Especialidad] [varchar](150) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuario]    Script Date: 08/09/2025 09:55:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuario](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Apellido_Paterno] [varchar](100) NOT NULL,
	[Apellido_Materno] [varchar](100) NOT NULL,
	[correo] [varchar](200) NOT NULL,
	[contrasena] [varchar](255) NOT NULL,
	[Id_Rol] [int] NOT NULL,
	[Estado] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ventas]    Script Date: 08/09/2025 09:55:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ventas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Id_Usuario] [int] NOT NULL,
	[Fecha] [datetime] NOT NULL,
	[Total] [decimal](12, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Compra] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Consultas] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Consultas] ADD  DEFAULT ('Normal') FOR [Tipo_Consulta]
GO
ALTER TABLE [dbo].[DetalleCompra] ADD  DEFAULT ((0)) FOR [Cantidad_Caja]
GO
ALTER TABLE [dbo].[DetalleCompra] ADD  DEFAULT ((0)) FOR [Cantidad_Unitario]
GO
ALTER TABLE [dbo].[Enfermeria] ADD  DEFAULT ((1)) FOR [Cantidad]
GO
ALTER TABLE [dbo].[Enfermeria] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Enfermeria] ADD  DEFAULT ('Normal') FOR [Tipo]
GO
ALTER TABLE [dbo].[Gastos] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Laboratorio] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Laboratorio] ADD  DEFAULT ((1)) FOR [Id_RegistradoPor]
GO
ALTER TABLE [dbo].[Laboratorio] ADD  DEFAULT ('Normal') FOR [Tipo]
GO
ALTER TABLE [dbo].[Lote] ADD  DEFAULT ((0)) FOR [Cantidad_Caja]
GO
ALTER TABLE [dbo].[Lote] ADD  DEFAULT ((0)) FOR [Cantidad_Unitario]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [Stock_Caja]
GO
ALTER TABLE [dbo].[Productos] ADD  DEFAULT ((0)) FOR [Stock_Unitario]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Usuario] ADD  DEFAULT ((1)) FOR [Estado]
GO
ALTER TABLE [dbo].[Ventas] ADD  DEFAULT (getdate()) FOR [Fecha]
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD FOREIGN KEY([Id_Proveedor])
REFERENCES [dbo].[Proveedor] ([id])
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Consultas]  WITH NOCHECK ADD FOREIGN KEY([Id_Especialidad])
REFERENCES [dbo].[Especialidad] ([id])
GO
ALTER TABLE [dbo].[Consultas]  WITH NOCHECK ADD FOREIGN KEY([Id_Paciente])
REFERENCES [dbo].[Pacientes] ([id])
GO
ALTER TABLE [dbo].[Consultas]  WITH NOCHECK ADD FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH NOCHECK ADD FOREIGN KEY([Id_Compra])
REFERENCES [dbo].[Compra] ([id])
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH NOCHECK ADD FOREIGN KEY([Id_Lote])
REFERENCES [dbo].[Lote] ([id])
GO
ALTER TABLE [dbo].[DetallesVentas]  WITH NOCHECK ADD FOREIGN KEY([Id_Lote])
REFERENCES [dbo].[Lote] ([id])
GO
ALTER TABLE [dbo].[DetallesVentas]  WITH NOCHECK ADD FOREIGN KEY([Id_Venta])
REFERENCES [dbo].[Ventas] ([id])
GO
ALTER TABLE [dbo].[Enfermeria]  WITH CHECK ADD  CONSTRAINT [FK_Enfermeria_Paciente] FOREIGN KEY([Id_Paciente])
REFERENCES [dbo].[Pacientes] ([id])
GO
ALTER TABLE [dbo].[Enfermeria] CHECK CONSTRAINT [FK_Enfermeria_Paciente]
GO
ALTER TABLE [dbo].[Enfermeria]  WITH CHECK ADD  CONSTRAINT [FK_Enfermeria_Procedimiento] FOREIGN KEY([Id_Procedimiento])
REFERENCES [dbo].[Tipos_Procedimientos] ([id])
GO
ALTER TABLE [dbo].[Enfermeria] CHECK CONSTRAINT [FK_Enfermeria_Procedimiento]
GO
ALTER TABLE [dbo].[Enfermeria]  WITH CHECK ADD  CONSTRAINT [FK_Enfermeria_Trabajador] FOREIGN KEY([Id_Trabajador])
REFERENCES [dbo].[Trabajadores] ([id])
GO
ALTER TABLE [dbo].[Enfermeria] CHECK CONSTRAINT [FK_Enfermeria_Trabajador]
GO
ALTER TABLE [dbo].[Enfermeria]  WITH CHECK ADD  CONSTRAINT [FK_Enfermeria_Usuario] FOREIGN KEY([Id_RegistradoPor])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Enfermeria] CHECK CONSTRAINT [FK_Enfermeria_Usuario]
GO
ALTER TABLE [dbo].[Especialidad]  WITH CHECK ADD FOREIGN KEY([Id_Doctor])
REFERENCES [dbo].[Doctores] ([id])
GO
ALTER TABLE [dbo].[Gastos]  WITH CHECK ADD FOREIGN KEY([Id_RegistradoPor])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Gastos]  WITH CHECK ADD FOREIGN KEY([ID_Tipo])
REFERENCES [dbo].[Tipo_Gastos] ([id])
GO
ALTER TABLE [dbo].[Laboratorio]  WITH NOCHECK ADD FOREIGN KEY([Id_Paciente])
REFERENCES [dbo].[Pacientes] ([id])
GO
ALTER TABLE [dbo].[Laboratorio]  WITH NOCHECK ADD FOREIGN KEY([Id_Trabajador])
REFERENCES [dbo].[Trabajadores] ([id])
GO
ALTER TABLE [dbo].[Laboratorio]  WITH CHECK ADD  CONSTRAINT [FK_Laboratorio_TipoAnalisis] FOREIGN KEY([Id_Tipo_Analisis])
REFERENCES [dbo].[Tipos_Analisis] ([id])
GO
ALTER TABLE [dbo].[Laboratorio] CHECK CONSTRAINT [FK_Laboratorio_TipoAnalisis]
GO
ALTER TABLE [dbo].[Laboratorio]  WITH CHECK ADD  CONSTRAINT [FK_Laboratorio_Usuario] FOREIGN KEY([Id_RegistradoPor])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Laboratorio] CHECK CONSTRAINT [FK_Laboratorio_Usuario]
GO
ALTER TABLE [dbo].[Lote]  WITH CHECK ADD FOREIGN KEY([Id_Producto])
REFERENCES [dbo].[Productos] ([id])
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD FOREIGN KEY([ID_Marca])
REFERENCES [dbo].[Marca] ([id])
GO
ALTER TABLE [dbo].[Trabajadores]  WITH CHECK ADD FOREIGN KEY([Id_Tipo_Trabajador])
REFERENCES [dbo].[Tipo_Trabajadores] ([id])
GO
ALTER TABLE [dbo].[Usuario]  WITH NOCHECK ADD  CONSTRAINT [FK_Usuario_Rol] FOREIGN KEY([Id_Rol])
REFERENCES [dbo].[Roles] ([id])
GO
ALTER TABLE [dbo].[Usuario] CHECK CONSTRAINT [FK_Usuario_Rol]
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD FOREIGN KEY([Id_Usuario])
REFERENCES [dbo].[Usuario] ([id])
GO
ALTER TABLE [dbo].[Compra]  WITH CHECK ADD CHECK  (([Total]>=(0)))
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH NOCHECK ADD CHECK  (([Cantidad_Caja]>=(0)))
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH NOCHECK ADD CHECK  (([Cantidad_Unitario]>=(0)))
GO
ALTER TABLE [dbo].[DetalleCompra]  WITH NOCHECK ADD CHECK  (([Precio_Unitario]>=(0)))
GO
ALTER TABLE [dbo].[DetallesVentas]  WITH NOCHECK ADD CHECK  (([Cantidad_Unitario]>(0)))
GO
ALTER TABLE [dbo].[DetallesVentas]  WITH NOCHECK ADD CHECK  (([Precio_Unitario]>=(0)))
GO
ALTER TABLE [dbo].[Doctores]  WITH CHECK ADD CHECK  (([Edad]>=(18) AND [Edad]<=(80)))
GO
ALTER TABLE [dbo].[Enfermeria]  WITH CHECK ADD CHECK  (([Cantidad]>(0)))
GO
ALTER TABLE [dbo].[Enfermeria]  WITH CHECK ADD CHECK  (([Tipo]='Emergencia' OR [Tipo]='Normal'))
GO
ALTER TABLE [dbo].[Especialidad]  WITH CHECK ADD CHECK  (([Precio_Normal]>=(0)))
GO
ALTER TABLE [dbo].[Especialidad]  WITH CHECK ADD CHECK  (([Precio_Emergencia]>=(0)))
GO
ALTER TABLE [dbo].[Gastos]  WITH CHECK ADD CHECK  (([Monto]>=(0)))
GO
ALTER TABLE [dbo].[Laboratorio]  WITH CHECK ADD CHECK  (([Tipo]='Emergencia' OR [Tipo]='Normal'))
GO
ALTER TABLE [dbo].[Lote]  WITH CHECK ADD CHECK  (([Cantidad_Caja]>=(0)))
GO
ALTER TABLE [dbo].[Lote]  WITH CHECK ADD CHECK  (([Cantidad_Unitario]>=(0)))
GO
ALTER TABLE [dbo].[Pacientes]  WITH CHECK ADD  CONSTRAINT [CK_Pacientes_Cedula_Formato] CHECK  (([Cedula] IS NULL OR len([CEDULA])>=(5) AND NOT [CEDULA] like '%[^0-9]%'))
GO
ALTER TABLE [dbo].[Pacientes] CHECK CONSTRAINT [CK_Pacientes_Cedula_Formato]
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD CHECK  (([Precio_compra]>=(0)))
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD CHECK  (([Precio_venta]>=(0)))
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD CHECK  (([Stock_Caja]>=(0)))
GO
ALTER TABLE [dbo].[Productos]  WITH CHECK ADD CHECK  (([Stock_Unitario]>=(0)))
GO
ALTER TABLE [dbo].[Tipos_Analisis]  WITH CHECK ADD CHECK  (([Precio_Normal]>=(0)))
GO
ALTER TABLE [dbo].[Tipos_Analisis]  WITH CHECK ADD CHECK  (([Precio_Emergencia]>=(0)))
GO
ALTER TABLE [dbo].[Tipos_Procedimientos]  WITH CHECK ADD CHECK  (([Precio_Normal]>=(0)))
GO
ALTER TABLE [dbo].[Tipos_Procedimientos]  WITH CHECK ADD CHECK  (([Precio_Emergencia]>=(0)))
GO
ALTER TABLE [dbo].[Ventas]  WITH CHECK ADD CHECK  (([Total]>=(0)))
GO
/****** Object:  StoredProcedure [dbo].[sp_UpsertPaciente]    Script Date: 08/09/2025 09:55:36 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_UpsertPaciente]
    @Nombre VARCHAR(100),
    @Apellido_Paterno VARCHAR(100), 
    @Apellido_Materno VARCHAR(100),
    @Fecha_Nacimiento DATE,
    @Cedula VARCHAR(20) = NULL,
    @Id INT = NULL OUTPUT
AS
BEGIN
    SET NOCOUNT ON;
    
    -- Verificar si existe por cédula (si se proporciona)
    IF @Cedula IS NOT NULL
    BEGIN
        SELECT @Id = id FROM Pacientes WHERE Cedula = @Cedula;
    END
    
    -- Si no existe, buscar por nombre completo
    IF @Id IS NULL
    BEGIN
        SELECT @Id = id FROM Pacientes 
        WHERE Nombre = @Nombre 
        AND Apellido_Paterno = @Apellido_Paterno
        AND Apellido_Materno = @Apellido_Materno;
    END
    
    IF @Id IS NULL
    BEGIN
        -- Crear nuevo paciente
        INSERT INTO Pacientes (Nombre, Apellido_Paterno, Apellido_Materno, Fecha_Nacimiento, Cedula)
        VALUES (@Nombre, @Apellido_Paterno, @Apellido_Materno, @Fecha_Nacimiento, @Cedula);
        
        SET @Id = SCOPE_IDENTITY();
    END
    ELSE
    BEGIN
        -- Actualizar paciente existente
        UPDATE Pacientes 
        SET Fecha_Nacimiento = @Fecha_Nacimiento,
            Cedula = COALESCE(@Cedula, Cedula)
        WHERE id = @Id;
    END
END

GO
